<h1><%= @user.name %>様のマイページ</h1>

<h2>個人情報一覧</h2>


<%= form_with model: @users do |f| %>

  <div class="form-group">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.text_field :password, class: 'form-control' %>
  </div>

  <%= f.submit '保存', class: 'btn-primary' %>
<% end %>
