<h1><%= @current_user.name %>様のマイページ</h1>

  <div class="ml-auto boards__linkBox">
    <%= link_to '個人情報修正', edit_user_path(@user), class: 'btn btn-outline-dark' %>
  </div>

<h2>個人情報一覧</h2>

<p>ユーザー名:</p>
<%= @current_user.name%>


<p>メールアドレス:</p>
<%= @current_user.email%>

<% @favorite_boards.each do |board|%>
  <p><span>いいね記事:</span><%= link_to board.body, board_path(board.id) %></p>
<% end %>